<%  %>
<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../layouts/head', {title: `${locals.title} | Soundfy`}) %>
  </head>
  <body>
    <!-- Recently played -->
    <%- include('../layouts/recent_played', { 
        recentlyPlayed:locals.recentlyPlayedTracks }) %>

    <article class="page custom-scrollbar" data-page>
      <!-- Top app bar -->
      <%- include('../partials/top_bar', locals.currentProfile) %>

      <!-- Bottom nav  -->
      <%- include('../partials/bottom_nav', { currentRoute: '/album' }) %>

      <div class="main" data-main>
        <section class="section">
          <div class="title-wrapper">
            <h2 class="title-large section-title">
              <%=locals.title%>
            </h2>
          </div>
  
          <div class="grid-list">
  
          </div>
  
          <!-- Pagination -->
          <%- include('../partials/pagination', locals.categories) %>
        </section>
      </div>

      <!-- Footer -->
      <%- include('../layouts/footer') %>

      <!-- Player SM -->
      <%- include('../partials/player_sm') %>
      
      <!-- Player LG -->
      <%- include('../partials/player_lg') %>

    </article>
  </body>
</html>