<% 
// recommended artist
const {
  artists:recommendedArtistItems
} = locals.recommendedArtist

//new release albums
const {
  items: newReleaseItems,
  next: newReleaseNext
} = locals.newRelease

%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/head', {title: 'Home | Soundfy'}) %>
  </head>
  <body>
    <article class="page custom-scrollbar" data-page>
      <!-- Top app bar -->
      <%- include('../partials/top_bar', locals.currentProfile) %>

      <!-- Bottom nav  -->
      <%- include('../partials/bottom_nav', { currentRoute: '/' }) %>

      <div class="main" data-main>
        <!-- recommended album -->
        <% if(locals.recommendedAlbums.length) { %>
        <section class="section">
          <div class="title-wrapper">
            <h2 class="title-large section-title"> Recomendado para ti</h2>
          </div>

          <div class="slider">
            <div class="slider-inner">
              <% locals.recommendedAlbums.forEach(({ album: {artists, images, name: title, id, uri} }) => { %> 

              <% 
                const text = artists.map(({name}) => name).join(', ') 
                const image = images.find(item => item.width === 300) 
              %> 
              
              <%- include('../partials/card', {
                image,
                type: 'album',
                title,
                text,
                link: `/album/${id}`,
                uri
              }) %>
      
              <% }) %>
            </div>
            </div>
          </section>
        <% } %>

        <!-- recommended artist -->
        <% if (recommendedArtistItems.length) { %>
          <section class="section">
            <div class="title-wrapper">
              <h2 class="title-large section-title">Artistas para ti</h2>
            </div>
  
            <div class="slider" >
              <div class="slider-inner">
                <% recommendedArtistItems.forEach(({name: title, type, images, id, uri}) => { %>
                  
                  <% const [image] = images || [] %>

                  <%- include('../partials/card', {
                    variant: 'artist-card',
                    title,
                    image,
                    type,
                    text: type,
                    link: `/artist/${id}`
                  }) %>

                <% }) %>
              </div>
            </div>
            </section>
        <% } %>

        <!-- new release album -->
        <%  %>
        <section class="section">
          <div class="title-wrapper">
            <h2 class="title-large section-title">Nuevos Lanzamientos</h2>
            <% if (newReleaseNext !== null) { %>
              <a href="/album" class="btn btn-link" data-ripple>
                <span class="label-large">Ver mas</span>
                <div class="state-layer"></div>
              </a>
            <% } %>
          </div>

          <div class="slider" >
            <div class="slider-inner">
              <% newReleaseItems.forEach(({id, images, name: title, artists, uri}) => { %>
                <% 
                  const text = artists.map(({name}) => name).join(', ')
                  const image = images.find(item => item.width === 300)
                %>
                <%- include('../partials/card', {
                  image,
                  type: 'album',
                  title,
                  link: `/album/${id}`
                }) %>

              <% }) %> 

            </div>
          </div>
          </section>

      </div>
    </article>
  </body>
</html>
