<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../layouts/head', {title: 'PlayLists | Soundfy'}) %>
  </head>
  <body>
    <!-- Recently played -->
    <%- include('../layouts/recent_played', { 
        recentlyPlayed:locals.recentlyPlayedTracks }) %>

    <article class="page custom-scrollbar" data-page>
      <!-- Top app bar -->
      <%- include('../partials/top_bar', locals.currentProfile) %>

      <!-- Bottom nav  -->
      <%- include('../partials/bottom_nav', { currentRoute: '/playlists' }) %>

      <div class="main" data-main>

        

      </div>

      <!-- Footer -->
      <%- include('../layouts/footer') %>

      <!-- Player SM -->
      <%- include('../partials/player_sm') %>
      
      <!-- Player LG -->
      <%- include('../partials/player_lg') %>

    </article>
  </body>
</html>