<% 
//search album
const {
  items: searchTrackItems
}= locals.searchTracks
%>

<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../layouts/head', {title: `Search | Soundfy`}) %>
  </head>

  <body>
    <!-- Recently played -->
    <%- include('../layouts/recent_played', { 
        recentlyPlayed:locals.recentlyPlayedTracks }) %>

    <article class="page custom-scrollbar" data-page>
      <!-- Top app bar -->
      <%- include('../partials/top_bar', locals.currentProfile) %>

      <!-- Bottom nav  -->
      <%- include('../partials/bottom_nav') %>

      <!-- Search filter list -->
      <%- include('../layouts/search_filter', { type: locals.type }) %>

      <div class="main" data-main>
        
        <section class="section">
          <div class="list">
            <% searchTrackItems.forEach(({ album: {images}, artists, duration_ms, id, name: title, uri: trackUri}) => { %>
              
              <% 
                const text = artists.map(({ name }) => name).join(', ');
              %>
              <%- include('../partials/list_item', { 
                title,
                images,
                text,
                duration_ms,
                id,
                trackUri
              }) %>

            <% }) %>
          </div>

          <!-- Pagination -->
          <%- include('../partials/pagination', locals.searchTracks) %>
        </section>
      </div>

      <!-- Footer -->
      <%- include('../layouts/footer') %>

      <!-- Player SM -->
      <%- include('../partials/player_sm') %>
      
      <!-- Player LG -->
      <%- include('../partials/player_lg') %>

    </article>
  </body>
</html>