<% 
//search album
const {
  items: searchAlbumItems
}= locals.searchAlbum
%>

<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../layouts/head', {title: `Search | Soundfy`}) %>
  </head>

  <body>
    <!-- Recently played -->
    <%- include('../layouts/recent_played', { 
        recentlyPlayed:locals.recentlyPlayedTracks }) %>

    <article class="page custom-scrollbar" data-page>
      <!-- Top app bar -->
      <%- include('../partials/top_bar', locals.currentProfile) %>

      <!-- Bottom nav  -->
      <%- include('../partials/bottom_nav') %>

      <!-- Search filter list -->
      <%- include('../layouts/search_filter', { type: locals.type }) %>

      <div class="main" data-main>
        
        <section class="section">
          <div class="grid-list">
            <% searchAlbumItems.forEach(({id, images, name: title, artists, release_date, uri}) => { %>

            <% 
              const year = new Date(release_date).getFullYear();
              const text = artists.map(({name}) => name).join(', ');
              const image = images.find(item => item.width === 300);
            %>

            <%- include('../partials/card', { 
                image,
                type: 'album',
                title,
                text,
                year,
                link: `/album/${id}`,
                uri
            }) %>

            <% }) %>
          </div>

          <!-- Pagination -->
          <%- include('../partials/pagination', locals.searchAlbum) %>
        </section>
      </div>

      <!-- Footer -->
      <%- include('../layouts/footer') %>

      <!-- Player SM -->
      <%- include('../partials/player_sm') %>
      
      <!-- Player LG -->
      <%- include('../partials/player_lg') %>

    </article>
  </body>
</html>